.link_01__about {
    // position: absolute;
    width: 250px;
    top: 300px;
    left: 450px;
    }
    
.link_01__article_01 {
    // position: absolute;
    width: 250px;
    top: 100px;
    left: 130px;
    }

.link_01__article_02 {
    // position: absolute;
    width: 250px;
    top: 220px;
    left: 130px;
    }
    
.link_01__article_03{
    width: 250px;
    top: 390px;
    left: 130px; 
    }
    
.link_01__article_04{
    width: 250px;
    top: 400px;
    right: 130px;
    }

.link_01__article_05{
    width: 250px;
    top: 200px;
    right: 130px;
    }
    
.link_02__article_01{
    width: 250px;
    top: 150px;
    left: 130px;
    }

.link_02__article_02{
    width: 250px;
    top: 100px;
    right: 130px;
    }

.link_02__article_03{
    width: 250px;
    top: 400px;
    left: 130px;
    }