.contacts {
    margin: 0;
    padding: 0;
    list-style: none;
}
.contacts__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2rem;

    position: relative;
    &:after {
        content: "";
        display: block;
        width: 10px;
        height: 1px;
        background-color: $dark_text;
        position: absolute;
        right: -1.5rem;
        top: 50%;
        z-index: 1;

    }

    &:last-child {
        &:after {
            display: none
        }
    }
}

.contacts__link {
    text-decoration: none;
    color: $dark_text;
    

    &:hover {
        text-decoration: underline;
    }
}