.header{
    margin-top: 2rem;
}

.header__inner{
    padding: .8rem 1.6rem;
    background-color: #fefefe;
    border-radius: $radius;
    box-shadow: $shadow;
}

.header__row{
    align-items: center;
}

.container {
    width: 70%;
    margin: 0 auto;
}