//Обертка для страницы
.wrapper__stoic {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

// Обертка статей
.wrapper__article {
    display: flex;
    flex-direction: row;
}

    // Ссылка на статьи
.link__article {
    display: none; // Скрываем блоки
    }

    // Правая и левая страницы
.first__page, .second__page {
    width: 50%; // размер каждой страницы из 2-х
}

    // Статья
.article{
    max-width: 100%;
    padding: 25px 50px 5px 35px;
   
}     

    // Заголовок статьи
.task__title {
    display: inline-block;
    color: rgb(66, 37, 4);
    font-weight: 600;
    margin-bottom: 10px;
    }
       
    // Текст статьи
.task__text {
    color: rgb(66, 37, 4);
    }
    
    .link__article, .article__green, .article__about {
    margin-bottom: 10px;
    @include article_fade;
    @include article--green;
    }
