

.main_area{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 350px;
    margin: 20px auto;
    background-image: url("/assets/img/otkritaya-kniga-99.png");
    background-repeat: no-repeat;
    background-size: 700px auto;
    background-position: center;
}

.title__items {
    margin: 0px auto;
    padding: 20px 30px;
    width: 500px;
    
}
