<footer class="footer">
    <div class="container">
    <div class="container__footer">
        <div class="footer__social">
       Российские писатели
        </div>
        <div class="footer__social-link">
            <img class="social__img social__img--vk" src="assets/img/icons/vk.png" >     
            <img class="social__img social__img--fb" src="assets/img/icons/fb.png" >     
            <img class="social__img social__img--inst" src="assets/img/icons/instagram.png" >     
        </div>
        
    </div>
    </div>


</footer>