@import "null";
@import "vars";
@import "mixins";
@import "fonts";
@import "blocks/page";
@import "blocks/content";
@import "blocks/header";
@import "blocks/btn";
@import "blocks/logo";
@import "blocks/nav";
@import "blocks/lang";
@import "blocks/footer";
@import "blocks/essay";
@import "blocks/contacts";
@import "blocks/fon_books";
@import "blocks/modal";
@import "blocks/services";
@import "blocks/portfolio";
@import "blocks/stoic_philosophers";
@import "blocks/mainbook";
@import "blocks/articles_position";
@import "blocks/left__menu";
@import "blocks/right__section";



// vendors

@import "vendors/slick";

html {
    font-size: 12px;
}

body {
    margin: 10px;
    font-family:'Times New Roman', Times, serif !important;
    color: $dark_text !important;
    font-size: 1rem;
    line-height: 1.5;
    background-color: $bg !important;
    
}



