// color schema soft_book_reading

$bg: #e6e6e6;
$light_yellow: #deca88;
$dark_yellow: #debb5f;
$light_brown: #b88f4d;
$prefix: #55473a;

$dark_text: #4f4032;
$white: #fff;
$black: #000;
$lightgray: #eee;

$radius: 10px;
$radius_small: 5px;
$shadow: 0 0 25px rgba(0,0,0, .05);

// $white: #ffffff;
// $magenta: #CF246C;
// $bg: #fafafa;
// $black: #121212;
// $gray: gray;


$modal-backdrop-bg: #dc4544;
$modal-backdrop-opacity: .9;
